<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
    <property name="hibernate.connection.username">JOHN</property>
    <property name="hibernate.connection.password">Taby1011</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="proyecto/tablas/Empresa.hbm.xml"/>
    <mapping resource="proyecto/tablas/Cuenta.hbm.xml"/>
    <mapping resource="proyecto/tablas/EstadoPedido.hbm.xml"/>
    <mapping resource="proyecto/tablas/Cliente.hbm.xml"/>
    <mapping resource="proyecto/tablas/Convenio.hbm.xml"/>
    <mapping resource="proyecto/tablas/Ingrediente.hbm.xml"/>
    <mapping resource="proyecto/tablas/Usuario.hbm.xml"/>
    <mapping resource="proyecto/tablas/MenuCliente.hbm.xml"/>
    <mapping resource="proyecto/tablas/Categoria.hbm.xml"/>
    <mapping resource="proyecto/tablas/Repartidor.hbm.xml"/>
    <mapping resource="proyecto/tablas/TipoPedido.hbm.xml"/>
    <mapping resource="proyecto/tablas/TipoUsuario.hbm.xml"/>
    <mapping resource="proyecto/tablas/Proveedor.hbm.xml"/>
    <mapping resource="proyecto/tablas/Imagen.hbm.xml"/>
    <mapping resource="proyecto/tablas/Despacho.hbm.xml"/>
    <mapping resource="proyecto/tablas/Plato.hbm.xml"/>
    <mapping resource="proyecto/tablas/Pedido.hbm.xml"/>
    <mapping resource="proyecto/tablas/Venta.hbm.xml"/>
    <mapping resource="proyecto/tablas/Persona.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
