<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
    <property name="hibernate.connection.username">JOHN</property>
    <property name="hibernate.connection.password">Taby1011</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="Model/Empresa.hbm.xml"/>
    <mapping resource="Model/Cuenta.hbm.xml"/>
    <mapping resource="Model/EstadoPedido.hbm.xml"/>
    <mapping resource="Model/Cliente.hbm.xml"/>
    <mapping resource="Model/Convenio.hbm.xml"/>
    <mapping resource="Model/Ingrediente.hbm.xml"/>
    <mapping resource="Model/Usuario.hbm.xml"/>
    <mapping resource="Model/MenuCliente.hbm.xml"/>
    <mapping resource="Model/Categoria.hbm.xml"/>
    <mapping resource="Model/Repartidor.hbm.xml"/>
    <mapping resource="Model/TipoPedido.hbm.xml"/>
    <mapping resource="Model/TipoUsuario.hbm.xml"/>
    <mapping resource="Model/Proveedor.hbm.xml"/>
    <mapping resource="Model/Imagen.hbm.xml"/>
    <mapping resource="Model/Despacho.hbm.xml"/>
    <mapping resource="Model/Plato.hbm.xml"/>
    <mapping resource="Model/Pedido.hbm.xml"/>
    <mapping resource="Model/Venta.hbm.xml"/>
    <mapping resource="Model/Persona.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
